@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nerko+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Caveat", cursive;
}

body{
    min-height: 100vh;
    background-color: #fff;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1;
}

.logo{
    font-family: "Nerko One", cursive;
    color: #2A0F6B;
    font-size: 50px;
    letter-spacing: 2px;
}

.navbar a{
    font-size: 22px;
    padding: 5px 15px;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 20px;
    color: #2A0F6B;
    
}

.navbar a:hover{
    background-color: blueviolet;
    color: #fff;
}

.parallax{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parahead{
    position: absolute;
    font-size: 120px;
    font-weight: 800;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.parallax img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}

.para-section{
    position: relative;
    top: 0;
    overflow-y: hidden;
    padding: 100px;
    background-color: #2A0F6B;
    color: #fff;

}

.para-section h1{
    font-size: 50px;
    font-weight: 800;
    font-family: "Caveat", cursive;
    color: blueviolet;
}


.para-section p{
    font-size: 22px;
    line-height: 2;
    padding: 10px;
    text-align: justify;
    font-family: "Lato", sans-serif;
}